@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #EEF9BF;
  font-family: 'Roboto', sans-serif;
}

header{
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #75B79E;
  margin-top: 40px;
}

.deck{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 100px 50px 100px;
}

.card{
  width: 120px;
  height: 150px;
  background-color: #A7E9AF;
  border: 2px solid #99CEA8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px
}

.card img{
  width: 100px;
  height: 100px;

}